
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
body {}.navbar {
    position: fixed;
    width: 100%;
    height: 5%;
    background-color: rgb(15, 122, 193);
}
.navbuttona {
    padding: 0px 10px;
    height: 100%;
    font-size: 25px;
    text-decoration: none;
    color: white;
    float: left;
    font-family: Montserrat, sans-serif;
}
.sym_list{
    position: fixed;
    font-family: Montserrat, sans-serif;
    list-style-type: none;
    left: 25%;
    top: 10%;
    background: rgb(9, 140, 214);  
}
.button{

    font-size: 25px;
    font-family: Montserrat, sans-serif;
    background-color: white;
}
.navbuttona:hover {
    transition: all 0.2s ease-in-out;
    background-color: black;
}
.bodyimg {
    position: absolute;
    top: 9%;
    left: 40%;
    transition: transform .5s ease-in-out;
}
.symptoms {
    position: fixed;
    font-family: Montserrat, sans-serif;
    left: 25%;
    top: 50%;
    background: rgb(9, 140, 214);
}
.symptoms_select {
    font-size: 26px;
    font-family: Montserrat, sans-serif;
}
.selectedsymptoms {
    position: fixed;
    top: 5%;
    left: 80%;
    width: 20%;
    height: 95%;
  
    background-color: rgb(15, 122, 193);
}
.Disease{
    position: fixed;
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    top: 90%;
    left: 80%;
    width: 20%;
    height: 10%;
    z-index: 1;
    background: black; color:white;
}
.logo {
    float: left;
    width: 300px;
    left: 0px;
    top: 0px;
}

.select {
    width: 1.5em;
    height: 1em;
    display: inline-block;
    border-radius: 5px;
}
